<footer style="background-color: #f2f2f2; padding: 20px; text-align: center; font-size: 0.8em;">
    <div style="margin-bottom: 10px;">
      <a href="https://www.instagram.com/hemanth.kapa/" target="_blank" style="margin: 0 10px;">IG</a>
      <a href="https://www.linkedin.com/in/hemanth-kapa/" target="_blank" style="margin: 0 10px;">IN</a>
      <a href="https://www.twitter.com/kapahemanth" target="_blank" style="margin: 0 10px;">TW</a>
    </div>
    <p style="margin: 0;">
      © 2023 Hemanth. Visit the <a class="internal-link" href="about.html">About</a> page or explore the <a class="internal-link" href="archive.html">Archive</a>.
    </p>
</footer>

  